body {
    background-color: #fffafc;
    font-family: 'Playfair Display', serif;
    color: #804d5f;
}

button {
    background-color: #f9d5d3;
    color: #4c3b4d;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
}
